doctype html 
html 
    head
    title=title 
    link(rel='stylesheet', href='/stylesheets/style.css')
    body 
        h1.header User Management System

        div.container.center.pt100
            h1(style="color:white;background-color:rgb(250, 58, 122);width:auto;padding:10px;") User Added Successfully! 
            div.buttons.mb20.pt50
                a(href="/") Home
                a(href="/users") View Users 
                a(href="/addUser") Add User
        h1 
